{
  "plugins": [
      ["flow-runtime", {
          "assert": true,
          "annotate": true
      }],
      "transform-flow-strip-types",
      "transform-decorators-legacy"
  ],
  "presets": ["es2015", "stage-0"]
}
